* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
#navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
#nameofpages {
  margin: auto;
  cursor: pointer;
}
#icon {
  width: 70px;
  display: flex;
  align-items: center;
}
.logoutsection {
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* display: flex;
  justify-content: space-between; */
  border-radius: 5px;
  /* width: 100px; */
  padding: 30px;
  position: relative;
  float: right;
  display: none;
}
#logoutBtn {
  color: green;
  cursor: pointer;
}
hr {
  border: 1px solid rgb(239, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#admin {
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#admin img {
  width: 30px;
}
.middlepart {
  display: flex;
}
.left > a {
  display: block;
  text-decoration: none;
  color: black;
}
.left {
  margin-top: 30px;
  padding: 50px;
  line-height: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.left > .dashboard {
  color: white;
}
.left > a {
  padding: 20px;
}
.left > a:hover {
  transition: 500ms;
  background-color: black;
  color: white;
}
.dashboard {
  background-color: black;
}
.totalBalance {
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  text-align: center;
  padding: 50px;
  height: fit-content;
}
.totalSales {
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  text-align: center;
  padding: 50px;
  height: fit-content;
}
.totalusers {
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  text-align: center;
  padding: 50px;
  height: fit-content;
}
.rightone {
  width: 900px;
  /* border: 1px solid red; */
  margin: 50px;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
}
.nextbetween {
  width: 900px;
  /* border: 1px solid red; */
  margin: 50px;
  margin-left: 100px;
}
thead > tr > td {
  text-align: center;
  color: #fff;
  background-color: black;
  width: 230px;
}
tbody > tr {
  text-align: center;
  font-size: 12px;
}
