body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* This is for header */
header {
    width: 100%;
    height: 5vh;
    background-color: #f9f9f8;
    display: flex;
    justify-content: end;
    align-items: center;


}

/* This is for header anchor tag */


header a {
    text-decoration: none;
    color: #848383;
    margin-right: 3%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.header a:focus {
    border-style: dashed !important;
    ;
    border-width: 1px !important;
    ;
}

a:focus {
    border-style: dashed;
    border-width: 1px;
}


/* This is for Navbar */



.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

}


.navbar>.logo {
    display: flex;
    margin-left: 2%;
    height: 60%;

    width: 30%;
}


.navbar>.logo>form {
    margin-left: 2%;
    height: 100%;
    width: 80%;
    display: flex;

}


.navbar>.logo>form>input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #f0f0f0;
    color: #000;
    padding: 2%;
}

.navbar>.logo>#logos {
    cursor: pointer;
}



/* Style the input placeholder */


.navbar>.logo>form>input::placeholder {

    color: #999;
    padding-left: 10%;
}

#logos {
    width: 10%;
    height: 100%;
}

/* Style the search Button */

#btn-search {
    margin-left: 2%;
    height: 100%;
    width: 12%;
    border: none;
    background-color: #f0f0f0;
}


/* Style the search button image */


#btn-search>img {
    height: 50%;
}

/* Style the drop Down*/

.dropdown {

    float: left;
    overflow: hidden;

    display: flex;
    justify-content: space-around;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 2.2%;
}

#person {
    height: 50%;
}

.dropdown .dropbtn {

    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

/*.navbar .dropdown:hover .dropbtn, .dropbtn:focus {
border-bottom: 4px solid #000;
}
*/

.dropdown .dropbtn:focus {
    border-style: dashed;
    border-width: 1px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 15%;
    transform: translate(0);



    transition: opacity 1.4s ease-out;
    /* opacity transition */
}

.show .dropdown-content {

    opacity: 1;
    /* show when .show class is added to parent */
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Style the navBar side*/


.navbar>.side {

    width: 25%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}


/* Style the navBar side divs*/



.navbar>.side>div {
    cursor: pointer;

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;

}

/* Style the navBar side divs anchor tags*/


.navbar>.side>div>a {

    text-decoration: none;
    margin-left: 1.2%;
    font-size: large;
    color: black;
    font-size: 1rem;
}

.navbar>.side>.cart>img {
    height: 60%;
}


.navbar>.side>.cart>a {
    margin-left: 1.2%;
}


.navbar>.side>div:hover {
    border-bottom: 4px solid #000;
}

/* Style the Container below navbar */

.container {
    width: 100%;
    height: 8vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-color: #e8e9e9;
    border-bottom-color: #e8e9e9;
    border-left: none;
    border-right: none;
    background-color: white;
}

.container>button {
    border: none;
    background-color: transparent;
    margin-left: 2%;
    cursor: pointer;
    outline: 0;
    line-height: 40px;
    color: #333;
    font-size: 1rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    position: relative;
    padding: 0;
    text-decoration: none;

}

.container>button:active,
button:focus {
    border-bottom: 5px solid black;
}

#red {
    color: #c63a64;
}

#redd {
    color: #c63a64;
}

#dropdown-container {
    display: none;
    position: fixed;
    top: 22vh;
    left: 0;
    width: 100vw;
    height: 78vh;
    background-color: white;
    transition: top 0.5s ease-in-out;
    z-index: 999;
}

#dropdown-container>div {
    display: flex;
    flex-direction: column;
    width: 10%;

}

#dropdown-container>div>div {

    height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#dropdown-container>div>#shop {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 50%;
}

#dropdown-container>div>#shop>div {
    padding: 10%;
    text-align: center;
    border: 1px solid #bbbbbb;
}

#dropdown-container>div>#shop>div>span {
    text-align: center;
    margin-top: 5%;
    cursor: pointer;

}

#dropdown-container>div>div>a {
    color: black;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

#dropdown-container>div>h4 {
    font-family: Roboto, Helvetica, Arial, sans-serif;

}


/* Style the Link Section */

.bar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 15vh;
    border-top: 1px solid #e8e9e9;
    border-bottom: 1px solid #e8e9e9;
    align-items: center;
    cursor: pointer;
    background-color: white;
    /* margin-left:190px; */
}

.bar>div {
    display: flex;
    padding-left: 1%;
    border-top-color: #e8e9e9;
    border: 1px solid #e8e9e9;
    width: 23%;
    height: 100%;
    align-items: center;
}

.bar>:nth-child(1) {
    margin-left: 190px;
}

.bar>div>#circles {

    width: 20%;
    height: 50%;
    margin-right: 1.3%;
    background-color: #000;
}

.bar>.links:hover {
    background-color: #f9f9f8;
}

.bar>div>#circles>img {
    width: 100%;
    height: 100%;
}

.bar>div>.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    width: 20%;
    height: 50%;
    margin-right: 1.3%;
    background-color: #c63a64;

}

.bar>div>.circles>img {
    width: 50%;
    height: 50%;
}

.bar>div>.text>h3 {
    font-size: small;
    font-weight: 800;
}

.bar>div>.text>p {
    font-size: small;
    color: #565555;
}

.link2 {
    width: 100%;
    height: 40vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.link2>.texts {
    border: 1px solid red;
    padding: 5%;
    width: 30%;
}

.link2>.texts>h1 {
    text-align: center;
}

.link2 #flex {
    width: 70%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;

}

/* Multi carousel */
.link2>.te {
    border: 1px solid green;
    height: 100%;
    width: 50%;
}

.link2>.te>#carousel1 {
    border: 1px solid red;
    height: 72%;
    width: 100%;
    display: flex;
}

#cont-1 {
    /* height: 70vh; */
    width: 100%;
    /* background-color: #ddd3d376; */
    background-color: #eceaead7;
    padding-top: 20px;
}

#rth {
    margin: 0px 85px;
    width: 85%;
}

#cont-1>:nth-child(1):hover {
    border: 2px solid red;
}

#cart {
    margin: 20px 85px;
    width: 89%;
    height: 26vh;
    background-color: white;
    padding-top: 46px;
    display: none;
}

#cart-2 {
    height: 8vh;
    width: 31%;
    margin: auto;
}

#e-bag {
    height: 4vh;
    width: 89%;
    margin: 15px auto;
}

#cart>:nth-child(3):hover {
    border: 2px solid red;
}

#need-help {
    margin: -155px 85px;
    width: 89%;
    height: 9vh;
    background-color: white;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 250px;
    bottom: 0px;
    right: 0px;
    left: 0%;
    display: none;
}

.nh-boxes {
    height: 100%;
    margin-left: 8px;
}

.nh-boxes:hover {
    border: 2px solid red;
}

#card-cont {
    margin: -50px 85px;
    width: 60%;
    /* background-color: white; */
    padding-top: 46px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-image {
    height: 23vh;
    width: 25%;
    margin: 0px 0px 0px 0px;
}

.cartdiv {
    height: 27vh;
    width: 100%;
    margin: 15px 0px 0px 0px;
    display: flex;
    background-color: white;
    /* border:1px solid red */

}

.truck {
    height: 7vh;
    width: 30%;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.item-des {
    height: 23vh;
    width: 25%;
    margin: 0px 0px 0px 0px;
    margin-left: 30px;
}

.btns {
    height: 4vh;
    width: 150px;
    margin: 10px 0px 0px 270px;
    display: flex;
    justify-content: space-between;
}

.btns>:nth-child(1) {
    width: 35px;
    font-size: 18px;
    background-color: rgb(241, 241, 241);
}

.btns>button {
    border-radius: 5px;
    font-weight: 600;
}

.btns>button:hover {
    color: white;
    background-color: teal;
    border: 2px solid red;
}

#bill {
    height: 80vh;
    width: 28vw;
    position: absolute;
    top: 293px;
    bottom: 0px;
    right: 0px;
    left: 67%;
    background-color: #f1f0f0d7;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#wfs {
    height: 80%;
    /* border: 1px solid red; */
    background-color: white;
    padding-left: 10px;
    padding-bottom: 10px;
}

#p-code {
    height: 80%;
    /* border: 1px solid red; */
    background-color: white;
    margin-top: -11px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#total {
    /* border: 1px solid red; */
    background-color: white;
    margin-top: -20px;
    padding-left: 10px;
    /* padding-bottom: 30px; */
}

#wfs>h2,
p,
a {
    margin-left: 20px;
}

#wfs>p {
    font-size: 14px;
}

#wfs>h2 {
    font-size: 20px
}

#p-code>p {
    /* margin-top:0px; */
    margin-left: 20px;
    font-size: 15px;
}

#p-code>input {
    height: 25%;
    width: 65%;
    margin: -50px 0px 0px 19px;
    font-size:18px;
    font-weight:700;
    text-align: center;
   
}

#p-code>button {
    height: 25%;
    width: 20%;
    margin: 0px 0px 0px 5px;
    border:2px solid black;
    border-radius: 10px;
    color:black;
    font-weight: 600;
   
}

#p-code>button:hover{
    background-color: #daa0b3;
    color:black
}

#p-code>h2 {
    margin-left: 20px;
    font-size: 20px;
}

#total>h2 {
    margin-left: 20px;
    font-size: 20px;
}

#total>p {
    margin-left: 20px;
    font-size: 14px;
    margin-top: -5px;

}

#total>h5 {
    margin-left: 20px;
    font-size: 15px;
    margin-top: -5px;
}

#afterpay {
    height: 30%;
    width: 90%;
    margin: -8px auto;
    background-color: white
}

#total>:nth-child(6) {
    height: 15%;
    width: 80%;
    margin-left:35px;
    margin-top:-5px;
    border-radius: 5px;
    font-weight: 600;
    background-color:rgb(123, 210, 210);
    color:black
}
#total>:nth-child(6):hover {
   background-color: teal;
    color:white;
}

body {
    background-color: #eceaead7;
}

#info {
    position: relative;
    top: -68px;
    right: 0px;
    bottom: 0px;
    left: 330px;
}

#subtotal {
    margin-left: 240px;
    font-size: 14px;
}

#shipping-charge {
    margin-left: 180px;
    font-size: 14px;
    color: green
}

#tax {
    margin-left: 250px;
    font-size: 14px;
}

#total-order {
    margin-left: 272px;
    font-size: 14px;
}

.footer{
    padding-left: 1.2%;
    width: 100vw;
    height: 100vh;
    background-color: #f9f9f8;
    display: flex;
    justify-content: space-around;
    text-align: center;
    position:absolute;
    top:128%;
    right:0%;
    bottom:0%;
    left:0%;
  }
  
  .footer>div>div{
   
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-content:space-around ;
    flex-direction: column;
  }
  .footer>div>div>a{
    text-decoration: none;
    color: black;
  }
  .footer>div>#f{
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-content:space-around ;
    flex-direction: column;
  }
  .fa-facebook {
    background: transparent;
    color: white;
  }
  .fa-twitter {
    background: transparent;
    color: white;
  }
  .fa-instagram {
    background: transparent;
    color: white;
  }
  .fa-pinterest {
    background: transparent;
    color: white;
  }
  .fa-youtube {
    background: transparent;
    color: white;
  }
  #social{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    width: 50%;
    margin: auto;
  }
  #social>.fa {
    
    font-size: 2rem;
    width: 20%;
    text-align: center;
    text-decoration: none;
    
  }
  .footer>div>#e{
    height: 30%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
  
    margin-left: 1.2%;
    flex-direction: column;
  }
  
  .footer>#last>#social{
    height: 10%;
    
  }
  .footer>div>#e>form{
    display: flex;
    height: 20%;
    
  
   
  }
  .footer>div>#e>form>input{
    border-color: black;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .footer>div>#e>form>#sub{
    border-color: black;
    width: 15%;
    height: 112%;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: 700;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  footer{
    border-top: 1px solid red;
    border-top-color: gray;
    height: 10vh;
    width: 100vw;
    padding: 1.5%;
    background-color: #f9f9f8;
    position:absolute;
    top:0%;
    right:0%;
    bottom:0%;
    left:0%;

  }
  footer>div>a{
    text-decoration: none;
    color: gray;
    margin-left: 1.2%;
    font-size: .8rem;
  }