


body{
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    overflow-x:hidden;
   
}
/*This is for header*/
header{
    width: 100vw;
    height: 5vh;
    background-color: #f9f9f8;
    display: flex;
    justify-content:end;
    align-items: center;
   
   
}

/*This is for header anchor tag*/


header a{
    text-decoration: none;
    color: #848383;
    margin-right: 3%;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
.header a:focus{
    border-style: dashed !important;;
    border-width: 1px !important;;
}
a:focus {
    border-style: dashed;
    border-width: 1px;
}


/*This is for Navbar*/



.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}


.navbar>.logo{
    display: flex;
    margin-left: 2%;
    height: 60%;
  
    width: 30%;
}


.navbar>.logo>form{
    margin-left: 2%;
    height: 100%;
    width: 80%;
    display: flex;
 
}


.navbar>.logo>form>input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #f0f0f0;
    color: #000;
    padding: 2%;
}
.navbar>.logo>#logos{
    cursor: pointer;
}



    /* Style the input placeholder */


.navbar > .logo > form > input::placeholder {

    color: #999;
    padding-left: 10%;
  }
  #logos{
    width: 10%;
    height: 100%;
  }
  /* Style the search Button */

#btn-search{
    margin-left: 2%;
    height: 100%;
    width: 12%;
    border: none;
    background-color: #f0f0f0;
}


/* Style the search button image */


#btn-search>img{
    height: 50%;
}

/* Style the drop Down*/

.dropdown {
  
    float: left;
    overflow: hidden;
    
    display:flex;
    justify-content: space-around;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    padding: 2.2%;
}
#person{
    height: 50%;
}
  
.dropdown .dropbtn {
   
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
  }
  
  /*.navbar .dropdown:hover .dropbtn, .dropbtn:focus {
   border-bottom: 4px solid #000;
   }
   */

  .dropdown .dropbtn:focus {
    border-style: dashed;
    border-width: 1px;
}

 
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 15%;
    transform: translate(0);
  

    transition-delay: 1s;
    transition-timing-function: opacity ease-in-out; /* opacity transition */
}

.show .dropdown-content {
  transition-delay: 1s;
  transition-timing-function: opacity ease-in-out; 
    opacity: 1; /* show when .show class is added to parent */
}
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    transition-delay: 1s;
    transition-timing-function: opacity ease-in-out; 
    display: block;
  }

  /* Style the navBar side*/


  .navbar>.side{
    
    width: 25%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
  }


  /* Style the navBar side divs*/



  .navbar>.side>div{
    cursor: pointer;
   
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    
  }

    /* Style the navBar side divs anchor tags*/


  .navbar>.side>div>a{
    
    text-decoration: none;
    margin-left: 1.2%;
    font-size: large;
    color: black;
    font-size: 1rem;
  }

  .navbar>.side>.cart>img{
     height: 60%;
  }


  .navbar>.side>.cart>a{
    margin-left:1.2% ;
  }


  .navbar>.side>div:hover{
    border-bottom: 4px solid #000;
  }

  /* Style the Container below navbar */

  .container{
    width: 100vw;
    height: 8vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-color:#e8e9e9 ;
    border-bottom-color:#e8e9e9 ;
    border-left:none ;
    border-right:none ;
  }
  .container>button{
    border: none;
    background-color: transparent;
    margin-left: 2%;
    cursor: pointer;
    outline: 0;
    line-height: 40px;
    color: #333;
    font-size: 1rem;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    position: relative;
    padding: 0;
    text-decoration: none;

  }
  .container>button:active,button:focus{
    border-bottom:5px solid black ;
  }
  #red{
     color: #c63a64;
  }
  #redd{
    color: #c63a64;
  }
  #dropdown-container {
    display: none;
    position: fixed;
    top: 22vh;
    left: 0;
    width: 100vw;
    height: 78vh;
    background-color: white;
    transition: top 0.5s ease-in-out;
    z-index: 999;
}
#dropdown-container>div{
    display: flex;
    flex-direction: column;
    width: 10%;
    
}
#dropdown-container>div>div{
   
    height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#dropdown-container>div>#shop{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    height: 50%;
}
#dropdown-container>div>#shop>div{
    padding: 10%;
    text-align: center;
    border: 1px solid #bbbbbb;
}
#dropdown-container>div>#shop>div>span{
    text-align: center;
    margin-top: 5%;
    cursor: pointer;
    
}
#dropdown-container>div>div>a{
    color:black;
    text-decoration: none;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
#dropdown-container>div>h4{
    font-family:Roboto,Helvetica,Arial,sans-serif;

}


 /* Style the Link Section */

.bar{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 15vh;
    border-top:1px solid #e8e9e9 ;
    border-bottom:1px solid #e8e9e9;
    align-items: center;
    cursor: pointer;
}
.bar>div{
    display: flex;
    padding-left: 1%;
    border-top-color:#e8e9e9 ;
    border: 1px solid #e8e9e9;
    width: 23%;
    height: 100%;
    align-items: center;
}
.bar>div>#circles{
   
    width: 20%;
    height: 50%;
    margin-right: 1.3%;
    background-color: #000;
}
.bar>.links:hover{
    background-color: #f9f9f8;
}
.bar>div>#circles>img{
    width: 100%;
    height: 100%;
}
.bar>div>.circle{
   display: flex;
   justify-content: center;
   align-items: center;
    
    border-radius: 50%;
    width: 20%;
    height: 50%;
    margin-right: 1.3%;
    background-color: #c63a64;
    
}
.bar>div>.circles>img{
    width: 50%;
    height:50%;
}
.bar>div>.text>h3{
   font-size: small;
   font-weight:800 ;
}
.bar>div>.text>p{
   font-size: small;
    color: #565555;
}

.link2{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: space-around;
    
    
    
}

.link2>.texts{
    padding: 5%;
    width: 30%;
}
.link2>.texts>h1{
    text-align: center;
}
.link2>#flex{
    width: 70%;
    display: flex;
    flex-direction: column;

}
/*Multi carousel*/
.link2>.te{
    height: 100%;
    width: 50%;
  }
  .link2>.te>#carousel1{
    height: 70%;
    width: 100%;
   overflow: hidden;
   position: relative;
  }
  #carousel1>span{
    position: absolute;
    top: 40%;
    font-size: 1.4rem;
    left: .5%;
    z-index: 1;
    background-color: #000;
    opacity: 0.8;
    color: white;
    height: 25%;
    width: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #carousel1>span:nth-of-type(2){
    cursor: pointer;
    left: 94%;
    text-align: right;
    background-color: #000;
    opacity: 0.8;
    color: white;
    height: 25%;
    width: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #carousel1>section{
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: left;
    overflow-x: auto;
    margin: 1.2% auto 0 1.2%;
  }
  section>div{
    min-width: 20%;
    height: 80%;
    
    position: relative;
    left: 0;
    transition: left 0.5s ease-in-out;
  
  }
  section>div>img{
    margin-top: 10%;
    width: 85%;
    height: 80%;
    margin-left: 2%;
   }
   section>div>p{
    font-size: smaller;
    color: #aaaaaa;
   }
   section>div>a{
    text-decoration: none;
    color: #000;
   }
  #carousel1 img.move-left {
    left: -40px;
  }
  
  #carousel1 img.move-right {
    right: -140px;
  }
  section::-webkit-scrollbar{
    visibility: hidden;
  }

  /*BirkenStock image*/


  .birk {
    position: relative;
    cursor: pointer;
  }
  
  .birk img {
    display: block;
    width: 100%;
    
  }
  
  .birk-text {
   
    width: 40%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align:right;
  }
  .birk-text>h1{
    font-size: 3rem;
    padding: 1%;
    white-space: nowrap;
  }
  .birk-text>p{
    white-space: nowrap;
    padding: 2%;
  }
  .birk-text>a{
    margin-right: 5%;
    display:inline-block ;
    padding: 2%;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: large;
    border: #000;
    background-color: #000;
    width: 20%;
    height: 3%;
    text-align: center;
    border-radius: 10px;
  }
  .birk:hover{
    border: 1px dashed black;
  }

   /*Women Section */


  .womenSec{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 54vh;
    text-align: center;
  }
  .cards{
    margin-left: 1.5%;
    width: 100%;
    height: 80%;
    display: flex;
    text-align: left;
    
  }
  .cards img{
    width: 80%;
  }
  .cards>a{
    text-decoration: none;
    color: black;
  }
  .cards h3{
    font-weight: 900;
    font-size: 1.3rem;
  }
  .cards p{
    font-weight: 800;
    text-decoration: underline;
  }

            /*Women Section*/
 .hotSec{
  margin-top: 2%;
  width: 100vw;
  background-color: #f9f9f8;
  height: 70vh;
 }
 .hotSec>.header{
  width: 100vw;
  height: 20%;
  text-align: center;
  
 }
 .hotSec>.header>h1{
  display: inline-block;
  margin-right: 1.2%;
 }
 .hotSec>.header>a{
  display: inline-block;
  color: black;
  font-size:1.2rem ;
  font-weight: 700;

 }
 .hotSec>.imageSection{
  width: 100vw;
  height: 80%;
 }
 .hotSec>.imageSection>section{
  display: flex;
  margin: auto;
  width: 90%;
  height: 100%;
}
 .hotSec>.imageSection>section>div{
  width: 20%;
  height: 100%;
  text-align: center;
  
 }
 .hotSec>.imageSection>section>div>img{
  width: 80%;
  height:50%;
 }
 .hotSec>.imageSection>section>div>button{
  visibility: hidden;
  width: 50%;
  height: 10%;
  border-radius: 10px;
  background-color: transparent;
  color: black;
 }
 .hotSec>.imageSection>section>div:hover>button{
  visibility: visible;
  cursor: pointer;
 }

     /*Best Brands Section*/

 .betterPrice{
  padding: 1.2%;
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .betterPrice>.tags{
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .betterPrice>.brandImages{
  height: 60%;
  margin-right: 1%;
  background-color: #999;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
 
 
 }
 .brandImages>img{
  height: 80%;
  background-color: #ddd;
  width: 15%;
 
 }
 .brandImages>img:hover{

  border: 1px dashed black;
  border-top: none;
  border-bottom: none;
 }



/*FOOTER*/

.footer{
  padding-left: 1.2%;
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f8;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.footer>div>div{
 
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-content:space-around ;
  flex-direction: column;
}
.footer>div>div>a{
  text-decoration: none;
  color: black;
}
.footer>div>#f{
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-content:space-around ;
  flex-direction: column;
}
.fa-facebook {
  background: transparent;
  color: white;
}
.fa-twitter {
  background: transparent;
  color: white;
}
.fa-instagram {
  background: transparent;
  color: white;
}
.fa-pinterest {
  background: transparent;
  color: white;
}
.fa-youtube {
  background: transparent;
  color: white;
}
#social{
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  width: 50%;
  margin: auto;
}
#social>.fa {
  
  font-size: 2rem;
  width: 20%;
  text-align: center;
  text-decoration: none;
  
}
.footer>div>#e{
  height: 30%;
  display: flex;
  justify-content: flex-start;
  text-align: left;

  margin-left: 1.2%;
  flex-direction: column;
}

.footer>#last>#social{
  height: 10%;
  
}
.footer>div>#e>form{
  display: flex;
  height: 20%;
  

 
}
.footer>div>#e>form>input{
  border-color: black;
  width: 50%;
  height: 100%;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.footer>div>#e>form>#sub{
  border-color: black;
  width: 15%;
  height: 112%;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: medium;
  font-weight: 700;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
footer{
  border-top: 1px solid red;
  border-top-color: gray;
  height: 10vh;
  width: 100vw;
  padding: 1.5%;
  background-color: #f9f9f8;
}
footer>div>a{
  text-decoration: none;
  color: gray;
  margin-left: 1.2%;
  font-size: .8rem;
}
 /*MEDIA QUERIES*/

 @media only screen and (max-width:1432px){

  
 }
